<!DOCTYPE html>
<html>
<%- include("./segments/head.ejs") %>

    <body>
        <%- include("./segments/header.ejs") %>
            <main>
                <div class="button-box">
                    <h2>Wilkommen</h2>
                    <p id="info">Damit diese App funktioniert, müssen Cookies erlaubt sein.</p>
                    <input id="nameInput" type="text" pattern=".+" placeholder="Name" required></input>
                    <input id="codeInput" type="text" maxlength="5" pattern="[0-9]{5}" placeholder="Code" required></input>
                    <button id="newRoomBtn">Neuer Raum</button>
                    <button id="joinBtn">Beitreten</button>
                    <button id="next">Akzeptieren</button>
                </div>
            </main>
            <%- include("./segments/footer.ejs") %>
                <script>
                    let userId = <%= userId %>;
                </script>
                <script type="text/javascript" src="/js/index.js"></script>
    </body>

</html>