<!DOCTYPE html>
<html>
<%- include("./segments/head.ejs") %>

    <body>
        <%- include("./segments/header.ejs") %>
            <main></main>
            <%- include("./segments/footer.ejs") %>
    </body>

</html>